# Dependencies
node_modules/

# Environment variables (JANGAN DI-COMMIT KE GITHUB!)
.env
.env.local
.env.production

# Build output
dist/
build/

# WhatsApp session data (JANGAN DI-COMMIT!)
auth_info_baileys/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/

# Database / Prisma (opsional)
/prisma/dev.db